@font-face {
    font-family: pixels;
    src: url(assets/fonts/pixel_digivolve-webfont.woff2) format(woff2),
         url(assets/fonts/pixel_digivolve-webfont.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: gameboy;
    src: url(assets/fonts/early_gameboy-webfont.woff2) format(woff2),
         url(assets/fonts/early_gameboy-webfont.woff) format(woff);
    font-weight: normal;
    font-display: swap;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #221C40;
    color: #FDC800;
    text-align: center;
    justify-content: center;
    font-family: pixels;
    user-select: none; 
    align-items: center;
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: pixels;
    font-size: 85px;
    padding: 20px;
    margin: 0;
}
h2{
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: gameboy;
}